{% from "macros/header.jinja" import header with context %}
{% from "macros/button.jinja" import actionButton with context %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom Car Sales</title>

    <link rel="stylesheet" href={{ url_for("static",filename="app.css" ) }}>
    {% for image in images %}<link rel="preload" as="image" href="{{ image.url }}">{% endfor %}
    <script src="https://cdn.tailwindcss.com"></script>

  </head>

  <body class="p-3">
    {{ header() }}

    <div class="flex justify-center">
      <div class="flex flex-col items-center w-3/6">
        <h1 class="text-4xl mb-7">Welcome to TomCarSales!</h1>

        <div class="flex flex-col text-center gap-5">
          <p>
            We sell a large range of vehicles, spanning from your simple every-day SUV and people carries, all the way up to 5L American muscle cars!
          </p>
          <a href="{{ url_for('stock') }}" class="underline text-xl">Visit our stockroom today!</a>
        </div>

        <div class="mt-10 flex flex-row items-center">
          {{ actionButton("◀","previousButton","mr-5 h-10 w-10") }}

          <a href="{{ images[0].url }}" id="slideshow-link">
            <img id="slideshow-image"
                 src="{{ images[0].url }}"
                 alt="Car image"
                 title="Car image - Copyright {{ images[0].author }}"
                 class="w-[800px] h-[500px] object-cover border-solid border-2 border-black shadow-2xl shadow-black hover:scale-[1.02] transition-transform">
          </a>

          {{ actionButton("▶","nextButton","ml-5 h-10 w-10") }}
        </div>
      </div>
    </div>

    <script>
      const images = {{images}}.map(image => ({url: image.url.replace(/&amp;/g,"&"), author: image.author}));

      const slideshowImage = document.getElementById("slideshow-image");
      const slideshowLink = document.getElementById("slideshow-link");
      let currentIndex = 0;

      function nextButton(){
        currentIndex++;
        if(currentIndex >= images.length){
          currentIndex = 0;
        }
        slideshowLink.href = images[currentIndex].url;

        slideshowImage.src = images[currentIndex].url;
        slideshowImage.title = `Car image - Copyright ${images[currentIndex].author}`;
      }

      function previousButton(){
        currentIndex--;
        if (currentIndex <= -1){
          currentIndex = images.length - 1;
        }
        slideshowLink.href = images[currentIndex].url;

        slideshowImage.src = images[currentIndex].url;
        slideshowImage.title = `Car image - Copyright ${images[currentIndex].author}`;
      }
    </script>
  </body>
</html>
