{% from "macros/header.jinja" import header with context %}
{% from "macros/button.jinja" import submitButton with context %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom Car Sales</title>

    <link rel="stylesheet" href={{ url_for("static",filename="app.css" ) }}>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="p-3">
    {{ header() }}

    <div class="flex flex-col">
      <h4 class="text-center text-xl mb-3">Sorted by: Newest first</h4>

      {% for car in cars %}
        <form action="{{ url_for('view_car') }}" method="get">
          <fieldset class="border border-solid border-slate-600 flex flex-row items-center gap-4">
            <legend class="ml-5">{{ car.registration }}</legend>
            <img class="w-24 h-fit"
                 src="{{ car['!logo_link'] }}"
                 alt="{{ car['model_name'] }}">

            {% for prop in car %}
              {% if not prop.startswith('!') %}
                <span>{{ prop.title().replace('_',' ') }}: {{ car[prop] }}</span>
              {% endif %}
            {% endfor %}

            <input type="hidden" name="car_id" value="{{ car['!car_id'] }}" />

            <div class="ml-auto mr-10">{{ submitButton("View","w-48") }}</div>
          </fieldset>
        </form>
      {% endfor %}

    </div>
  </body>
</html>
