{% macro usernamePasswordForm(endpoint="home",text="not set") %}

  <form action="{{ url_for(endpoint) }}" method="post">
    <fieldset class="border border-solid border-slate-600">
      <legend class="ml-5">{{ text }}</legend>
      <div class="flex flex-col ml-5 mr-5 mb-3 mt-2 gap-3 items-center">

        <div class="flex flex-row gap-4">
          <label for="username">Username:</label>
          <input class="border border-solid w-48"
                 type="text"
                 name="username"
                 autocomplete="username"
                 required>
        </div>

        <div class="flex flex-row gap-4">
          <label for="password">Password:</label>
          <input class="border border-solid w-48"
                 type="password"
                 name="password"
                 autocomplete="new-password"
                 required>
        </div>

        <div>{{ submitButton(text) }}</div>
      </div>
    </fieldset>
  </form>

{% endmacro %}
